# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/
dist/
internal/ui/dist/

# Go workspace file
go.work

# Go vendor
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage.out
coverage.html
graphify-out
*.local.json
.gemini

# Project specific
docs/superpowers/
*.mpk
*.litmus.yml
*.mpk.yml
tests
config/*.yml
config/*.yaml
config/templates
node_modules
litmus
